@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Young serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

button {
  background-color: rgb(255, 0, 132);
  color: #fff;
  border: 1px solid rgb(255, 0, 132);
  padding: 20px 30px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  margin: 10px 0px;
  position: relative;
}
button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
